* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.empty {
  width: 100%;
  height: 100px;
  background-color:rgb(209, 209, 209);
}
.container_app {           
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container_page {
  position: relative;
    float: left;
}

.container_home {   
  width: 60%;        
margin-left: auto;
margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}


@media ( max-width:991px ) {
   .container_home{
    width: 70%; 
    margin-left: auto;
margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  }
}

@media ( max-width:480px ) {
  .container_home{
    width: 90%; 
    margin-left: auto;
margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  }
}

.container_header{
  text-align: center;
  background-color: rgb(209, 209, 209);

}

.header-tel {
  font-size: 24px;
}

.img_main {
  width: 100%;
  display: block;
  margin: 10px auto;
  border: 10px solid #969696;
}


.footer {
  background-color: rgb(100, 100, 100);
  float: left;
  width: 100%;
  min-height: 50px;
}

.footer-rights {
  color: rgb(226, 226, 226);
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
  padding-top: 5px;
  font-size: 24px;
}

.footer-clip-div {
  float: right;
  margin-top: 10px;
  padding-right: 20px;
  padding-left: 50px;
}

.footer-clip {
  border-radius: 10px;
}

.footer-name {
  color: rgb(0, 0, 0);
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
  padding-top: 5px;
  font-size: 24px;
}


.href {
  text-decoration: none;
}

.form-select {
  width: 101!important;
}




